### Tuple:
1. Immutable
2. using() elements are seperated by,
3. indexed,ordered

In [1]:
#tuple
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [2]:
print(tup1[2])
print(tup1[-1])#removing and adding an element into tuple is not possible

345.56
True

In [3]:
#changes can be made by converting tuple into list
tup1=(12,"abc",True)
l=list(tup1)
l[2]=100
tup1=tuple(l)
tup1

(12, 'abc', 100)

# built-in-methods
1. count()
2. index()

In [5]:
#count()
tup1=(1,12,3,54.36,"abc",True)
print(tup1.count(12))
print(tup1.index(12))

1
1

# packing and unpacking

In [7]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [10]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [11]:
#tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [12]:
#iterating through tuple
for ele in x:
    print(ele,end=" ")

10 20 30

# set
1. {}
2. set doesnot allow duplicate values
3. not ordered
4. unindexed
5. mutable

In [13]:
#set
set1={1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [14]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

# built-in functions in sets
1. len()
2. min()
3. max()
4. set()

In [15]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [16]:
#removing duplicate values from list using set
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

### built-in methods for sets:
###### adding an element
1. add()
###### removing an element
2. remove()
3. discard()
4. pop()
5. clear()

In [17]:
set2=set() #empty set
print(type(set2))

<class 'set'>

In [18]:
#adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [19]:
set2.pop()

100

In [20]:
set2.remove(12)

In [21]:
set2

{23}

In [25]:
set2.remove(12) #gives an error as it is not in the set

KeyError: 12

In [26]:
set2.discard(12) #if element is not present also it doesnt show any error

In [27]:
set2.clear()
set2

set()

# other built in methods in sets:
1. union()
2. difference()
3. intersection()
4. issubset()
5. issuperset()
6. isdisjoint()
7. symmetric_difference()

In [32]:
#union
a={1,2,3,4,5}
b={3,4,5,6,7}
print(a.union(b))
#difference
print(a.difference(b)) #a-b
print(b.difference(a)) #b-a
#intersection
print(a.intersection(b)) #common ele will be printed

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [36]:
#subset
c={1,2,3,4,5,6,7,8,9,10}
print(a.issubset(c))
print(a.issubset(b))
#superset
print(c.issuperset(a))
print(c.issuperset(b))

True
False
True
True

In [37]:
#disjoint sets
x={1,2}
y={23,4,45}
print(x.isdisjoint(y))

True

In [39]:
#symmetric difference a-b union b-a
print(a.symmetric_difference(b)) #common elements are removed

{1, 2, 6, 7}

In [40]:
#for updating values after performing union operation
a={1,2,3}
b={3,4,5}
a.update(b) #this update updates the values in a after adding it with be
#so update it performs adding and updating it
print(a)
print(b)

{1, 2, 3, 4, 5}
{3, 4, 5}

In [42]:
#a.operation name_update(b) also can be used to perform an operation and then update it
#example
a.intersection_update(b)
print(a)
print(b)

{3, 4, 5}
{3, 4, 5}

# dictionary:
syntax-->'''dictionary name={key1:value1,key2:....}'''

### rules for key:
1. key should be unique
2. key shuld be
   immutable(example:tuples,strings,numerics)
3. here we use key name as the index

In [44]:
#creating a dictionary
dict1={"name":"preeti","emp id":"1234","add":"hyd"}
print(dict1)

{'name': 'preeti', 'emp id': '1234', 'add': 'hyd'}

In [45]:
#extracting values from the dictionary
print(dict1["emp id"])

1234

In [47]:
#other example with duplicate keys
dict1={"name":"preeti","emp id":"1234","add":"hyd","emp id":"12"}
#here the original value will be replaced with the duplicate value in dictionary concepts
print(dict1["emp id"])

12

In [48]:
#removing a dictionary entry
del dict1["add"]
print(dict1)

{'name': 'preeti', 'emp id': '12'}

In [49]:
#adding an entry to the dictionary
dict1["course"]="python"
print(dict1)

{'name': 'preeti', 'emp id': '12', 'course': 'python'}

# built-in methods in dictionary:
1. keys()
2. items()
3. values()
4. get()
5. update()
6. pop()
7. popitem()

In [50]:
print(dict1.keys())
print(dict1.items())
print(dict1.values())

dict_keys(['name', 'emp id', 'course'])
dict_items([('name', 'preeti'), ('emp id', '12'), ('course', 'python')])
dict_values(['preeti', '12', 'python'])

In [51]:
#extracting an element
print(dict1["name"])
print(dict1.get("name"))

preeti
preeti

In [52]:
#adding an entry
dict1["address"]="hyd"
dict1

{'name': 'preeti', 'emp id': '12', 'course': 'python', 'address': 'hyd'}

In [57]:
#adding multiple enries
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'preeti', 'emp id': '12', 'course': 'python', 'address': 'hyd', 2: 2, 3: 3, 1: 1}

In [60]:
#removing an entry ==>pop(),popitem()
dict1.pop("name")
dict1

{'emp id': '12', 'course': 'python', 'address': 'hyd', 2: 2, 3: 3}

In [61]:
dict1.popitem() #removes the entries at the end of the dictionary

(3, 3)

In [62]:
dict1

{'emp id': '12', 'course': 'python', 'address': 'hyd', 2: 2}